.minicards {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.minicard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: black; */
  color: #f0ebd8;
  height: 50px;
  width: 30%;
  margin: 1%;
  padding: 1%;
  background: linear-gradient(
    to bottom right,
    rgba(29, 45, 68, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  align-items: center;
  border-bottom: 6px solid #1d2d44;
  transition: 0.3s ease;
  text-decoration: none;
  border-radius: 15px;
}
/* #FF5733 deep orange
   #556B2F olive green
 */
.minicard:hover {
  border-bottom: 6px solid #ffd700;
  background: linear-gradient(
    to bottom right,
    rgba(29, 45, 68, 0.5),
    rgba(0, 0, 0, 0.4)
  );
  text-decoration: none;
}
.minicardlogo {
  height: 30px;
  transition: transform 0.7s ease-in-out;
}

.minicard:hover .minicardlogo {
  transform: rotate(360deg);
  height: 33px;
}

@media only screen and (max-width: 768px) {
  .minicards {
    width: 100%;
    flex-direction: column;
  }
  .minicard {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .minicardlogo {
    height: 25px;
  }
}
